<h1>Listing jobs</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Business</th>
    <th>Url</th>
    <th>Posted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <th><% job.scrapers.each do |scraper| %>
         <%= link_to image_tag(scraper.icon.to_s) %>
        <% end  %></th>
    <td><%= job.title %></td>
    <td><%= job.business %></td>
    <td><%= job.url %></td>
    <td><%= job.posted_at %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
